.container {
  width: 88px;
  display: flex;
  flex-direction: row;
  position: relative;
  height: 44px;
  justify-content: center;
  align-items: center;
}

.circle {
  background: var(--white);
  opacity: 0.75;
  width: 44px;
  height: 44px;
  border-radius: 44px;
  position: absolute;
  top: 0;
  &:nth-of-type(1) {
    left: 0;
  }
  &:nth-of-type(2) {
    right: 0;
    transform: translateX(0);
  }
}
