@import "../../../styles/breakpoints.scss";
.container {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 25px;
  width: 100%;
  left: 0;
  right: 0;
  padding: 0 24px;
  box-sizing: border-box;
  @include respond-to(tablet) {
    padding: 0;
  }
}

.steps {
  display: flex;
  justify-content: center;
  gap: 5px;
  width: 100%;
}
.step {
  height: 4px;
  width: 100%;
  background-color: #50954c;
  position: relative;
  &:before {
    transition: all 0.55s cubic-bezier(0.16, 0.77, 0.45, 0.9);
    content: "";
    height: 100%;
    width: 0%;
    background-color: #d9d9d9;
    position: absolute;
    top: 0;
    left: 0;
  }
  &.halfStep {
    &:before {
      width: 50%;
    }
  }
  &.completedStep {
    &:before {
      width: 100%;
    }
  }
}
