@import "../../styles/breakpoints.scss";
.modalContent {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 32px;
  border-radius: 16px;
  text-align: center;
}

.ctaGroup {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 8px;
  @include respond-to(tablet) {
    flex-direction: row;
    margin: auto;
  }
  @include respond-to(desktop) {
    margin: auto;
    width: 400px;
  }
}

.modal {
  @include respond-to(tablet) {
    max-width: 824px;
    width: 100%;
  }
}

.aboutModal {
  width: 400px;
  padding: 40px;
}

.ageCtaGroup {
  @include respond-to(tablet) {
    flex-direction: row;
    button {
      width: 100%;
    }
  }
}
