@import "../../styles/breakpoints.scss";
.modalContent {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 32px;
  border-radius: 16px;
  text-align: center;
}

.ctaGroup {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 8px;
  @include respond-to(tablet) {
    flex-direction: row;
    margin: auto;
  }
  @include respond-to(desktop) {
    margin: auto;
    width: 400px;
  }
}

.modal {
  @include respond-to(tablet) {
    max-width: 824px;
    width: 100%;
  }
}

.aboutModal {
  max-width: 400px;
  padding: 40px;
  @include respond-to(desktop) {
    max-width: 824px;
    width: 100%;
  }
}

.ageCtaGroup {
  @include respond-to(tablet) {
    flex-direction: row;
    button {
      width: 100%;
    }
  }
}
.aboutCtaGroup {
  @include respond-to(tablet) {
    flex-direction: row;
    width: 100%;
    max-width: 410px;
    button {
      width: 100%;
    }
  }
}

.shareImage {
  height: 60px;
  width: 60px;
  border-radius: 12px;
  background-position: center center !important;
  background-size: 100px !important;
  border: 1px solid var(--white);
}

.shareModalContent {
  flex-direction: row;
  align-items: center;
}

.body {
  font-size: 16px;
  text-align: left;
}
