@import "../../styles/breakpoints.scss";

.container {
  height: 100dvh;
  min-height: -webkit-fill-available;
  padding-top: 114px;
  display: flex;
  flex-direction: column;
  gap: 48px;
  @include respond-to(tablet) {
    height: 100%;
    position: relative;
    width: 100%;
    max-width: 846px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0;
    gap: 60px;
  }
}

.resultGroup {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: calc(100vw - 48px);
  height: calc(100vh - 420px);
  overflow: scroll;
  @include respond-to(tablet) {
    max-width: 690px;
    margin: 0 auto;
    display: grid;
    gap: 52px;
    grid-template-columns: 305px 305px;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
    overflow: visible;
    width: auto;
  }
}

.resultsCta {
  font-size: 20px !important;
  height: 64px !important;
  padding: 0 15px !important;
}

.ctaGroup {
  gap: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  @include respond-to(tablet) {
    display: grid;
    grid-template-columns: 50% 50%;
    bottom: 48px;
    flex-direction: row;
    gap: 20px;
    padding: 0;
  }
}
