@import "../../styles/breakpoints.scss";
.btnLabel {
  font-weight: 500;
}

.btnLarge {
  height: 64px;
  width: 100%;
  &.btnLabel {
    font-size: 24px;
  }
}

.btnModal {
  height: 60px;
  width: 100%;
  background: var(--primary);
  &.btnLabel {
    font-size: 20px;
    color: var(--white);
  }
  @include respond-to(tablet) {
    width: 368px;
    margin: auto;
  }
}
