$breakpoint-mobile: 420px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-widescreen: 1440px;
$breakpoint-huge: 1690px;

/********************************************
        MEDIA QUERIES
********************************************/

@mixin respond-to($media) {
  @if $media == mobile {
    @media only screen and (min-width: $breakpoint-mobile) {
      @content;
    }
  } @else if $media == tablet {
    @media only screen and (min-width: $breakpoint-tablet) {
      @content;
    }
  } @else if $media == desktop {
    @media only screen and (min-width: $breakpoint-desktop) {
      @content;
    }
  } @else if $media == widescreen {
    @media only screen and (min-width: $breakpoint-widescreen) {
      @content;
    }
  } @else if $media == huge {
    @media only screen and (min-width: $breakpoint-huge) {
      @content;
    }
  }
}
