$breakpoint-short: 650px;
$breakpoint-mobile: 400px;
$breakpoint-long-mobile: 430px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1200px;
$breakpoint-widescreen: 1690px;
$breakpoint-huge: 1800px;

/********************************************
        MEDIA QUERIES
********************************************/

@mixin respond-to($media) {
  @if $media == mobile {
    @media only screen and (min-width: $breakpoint-mobile) {
      @content;
    }
  } @else if $media == long-phone {
    @media only screen and (min-width: $breakpoint-long-mobile) {
      @content;
    }
  } @else if $media == tablet {
    @media only screen and (min-width: $breakpoint-tablet) {
      @content;
    }
  } @else if $media == desktop {
    @media only screen and (min-width: $breakpoint-desktop) {
      @content;
    }
  } @else if $media == widescreen {
    @media only screen and (min-width: $breakpoint-widescreen) {
      @content;
    }
  } @else if $media == huge {
    @media only screen and (min-width: $breakpoint-huge) {
      @content;
    }
  } @else if $media == vertically-short {
    @media only screen and (max-height: $breakpoint-short) {
      @content;
    }
  }
}
