@font-face {
  font-family: "Literata";
  src: url("/src/assets/fonts/Literata-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-style: unset;
  font-display: swap;
}

@font-face {
  font-family: "PTSans";
  src: url("/src/assets/fonts/PTSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}
