---
import Layout from "../../components/layout.astro";
import Header from "../../components/approachHeader/index.tsx";
import IconCta from "../../components/buttons/iconCta";
import styles from "./styles.module.scss";
import DownloadIcon from "../../assets/icons/download.svg";
import { ProtectedContent } from "../../components/protectedContent";
---

<script>
  // Immediate verification check
  if (localStorage.getItem("ageVerified") !== "true") {
    window.location.replace("/?restricted=true");
  }
</script>

<Layout unfixed={true} bodyClass={styles.body}>
  <ProtectedContent client:load>
    <Header />
    <div class="container">
      <div class="content">
        <h1 class="display7 color-primary">
          <span class="color-black">It’s better to</span> regulate it<span
            class="color-primary25">.</span
          >
        </h1>
        <div class="intro">
          <p class="body5 color-black">
            We stand by safe cannabis regulation for adult use. This means we’ll
            be able to take control of the existing, unregulated, dangerous
            illicit cannabis market for the benefit of our health and community
            safety.
          </p>
        </div>
      </div>

      <div class="grid">
        <div class="col col-1">
          <!-- <img
              src=""
              alt="Our Approach"
              width="100%"
              style={{ background: "rgba(205, 213, 238, 1)" }}
            /> -->
        </div>

        <div class="col col-2">
          <!-- <img
              src=""
              alt="Our Approach"
              width="100%"
              style={{ background: "rgba(50, 103, 255, 1)" }}
            /> -->
        </div>

        <div class="col col-3"></div>

        <div class="col col-4"></div>
      </div>

      <div class="cta-wrapper">
        <!-- <div class="cta-content"> -->
        <p class="display6 color-primary">
          Do you have feedback on this model?<br />We'd love for you to <a
            class="color-primary"
            target="_blank"
            href="https://www.surveymonkey.com/r/FWCMH9T"
            >provide feedback here</a
          >.
        </p>

        <IconCta
          isLink
          link="/downloads/info-graphic.png"
          label="Download image"
          icon={DownloadIcon.src}
        />
      </div>
    </div>
  </ProtectedContent>
</Layout>

<style lang="scss">
  @import "../../styles/breakpoints.scss";

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: left;
    padding: 0;
    height: auto;
    position: relative;
    padding-top: 109px;
    padding-bottom: 113px;
    @include respond-to(desktop) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      width: 100%;
      max-width: 1166px;
      gap: 0;
      margin: auto;
      left: 0;
      right: 0;
    }
  }

  .cta-wrapper {
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: center;
    text-align: left;
    width: 100%;
    @include respond-to(tablet) {
      display: grid;
      grid-template-columns: 1fr 260px;
    }

    @include respond-to(desktop) {
      display: grid;
      grid-template-columns: 526px 260px;
      justify-content: space-between;
    }
  }

  .cta-content {
    max-width: 489px;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .content {
    display: flex;
    gap: 40px;
    flex-direction: column;
    @include respond-to(tablet) {
      text-align: center;
      gap: 44px;
      width: 100%;
      align-items: center;
    }
  }

  .about {
    display: flex;
    gap: 40px;
    flex-direction: column;
    @include respond-to(desktop) {
      flex-direction: row;
      gap: 121px;
      width: 100%;
      margin-bottom: 161px;
      margin-top: 149px;
    }
  }

  .grid {
    margin-top: 74px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-top: 40px;

    @include respond-to(desktop) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      height: 583px;
      gap: 20px;
      margin-bottom: 42px;
      margin-top: 64px;
    }
  }
  .col {
    width: 100%;
    height: 583px;
    border-radius: 11px;
    &-1 {
      background: rgba(205, 213, 238, 1);
    }
    &-2 {
      background: rgba(50, 103, 255, 0.2);
    }
    &-3 {
      background: rgba(211, 239, 229, 1);
    }
    &-4 {
      background: rgba(210, 230, 180, 1);
    }

    @include respond-to(desktop) {
      height: 100%;
    }
  }
  .intro {
    max-width: 700px;
    margin: auto;
  }
</style>
