---
import Layout from "../components/layout.astro";
import Header from "../components/header/index.tsx";
import PrimaryCta from "../components/buttons/primaryCta";
import Clock from "../assets/icons/clock.svg";
---

<script></script>

<Layout>
  <Header />
  <div class="content">
    <h1 class="display1">Take the cannabis test.</h1>
    <!-- <div> -->
    <img src={Clock.src} width="24" height="24" />
    <p class="body">
      In 2 minutes you’ll find out how your views on cannabis regulation
      compare.
    </p>
    <PrimaryCta client:load label="Get Started" isLink link="/quiz" />
    <!-- </div> -->
  </div>

  <footer class="footer">
    <small class="smallPrint"
      >All information gathered is anonymous and confidential. This microsite
      does not promote cannabis use but serves as a public policy platform for
      discussion and information.</small
    >
  </footer>
</Layout>

<style lang="scss">
  .content {
    align-items: center;
    display: flex;
    gap: 40px;
    flex-direction: column;
  }
</style>
