---
import Layout from "../components/layout.astro";
import Header from "../components/header/index.tsx";
import PrimaryCta from "../components/buttons/primaryCta";
import AgeModal from "../components/modals/age";
import Titles from "../components/screens/home/titles";
---

<script>
  function updateButtonVisibility() {
    const getStartedWrapper = document.getElementById("get-started");
    const ageVerified = localStorage.getItem("ageVerified");
    if (ageVerified === "true") {
      getStartedWrapper?.classList.remove("invisible");
      getStartedWrapper?.classList.add("visible");
    } else {
      getStartedWrapper?.classList.remove("visible");
      getStartedWrapper?.classList.add("invisible");
    }
  }

  window.addEventListener("cookieAccepted", updateButtonVisibility);
  window.addEventListener("storage", updateButtonVisibility);
  updateButtonVisibility();
</script>

<script>
  import { analyticsUtils } from "../lib/firebase/config";
  // Log page view on initial load
  document.addEventListener("DOMContentLoaded", () => {
    analyticsUtils.logPageView(window.location.pathname, document.title);
  });

  // Log page view on client-side navigation (if using View Transitions or client routing)
  document.addEventListener("astro:page-load", () => {
    analyticsUtils.logPageView(window.location.pathname, document.title);
  });
</script>
<Layout title="The Penington Institute - Home">
  <Header client:load />
  <div class="content">
    <Titles client:load />
    <div class="invisible" id="get-started" style="width: 100%;">
      <PrimaryCta client:load label="Get Started" isLink link="/quiz" />
    </div>
  </div>

  <AgeModal client:only />

  <footer class="footer">
    <small class="smallPrint"
      >All information gathered is anonymous and confidential. This website does
      not promote cannabis use but serves as a public platform for discussion
      and information.</small
    >
  </footer>
</Layout>

<style lang="scss">
  @import "../styles/breakpoints.scss";
  .content {
    align-items: center;
    display: flex;
    gap: 22px;
    flex-direction: column;

    @include respond-to(mobile) {
      gap: 52px;
      max-width: 670px;
    }
  }

  .footer {
    max-width: 670px;
  }

  .hide {
    display: none;
  }
  .show {
    display: flex;
  }

  .invisible {
    opacity: 0;
  }

  .visible {
    opacity: 1;
  }
  #get-started {
    max-width: 410px;
    margin: auto;
  }
</style>
