---
import Layout from "../components/layout.astro";
import Header from "../components/header/index.tsx";
import PrimaryCta from "../components/buttons/primaryCta";
import Clock from "../assets/icons/clock.svg";
import AgeModal from "../components/modals/age";
---

<script>
  // Check localstorage for cookie acceptance

  function updateButtonVisibility() {
    const getStartedWrapper = document.getElementById("get-started");
    const cookieAccepted = localStorage.getItem("cookieAccepted");
    if (cookieAccepted === "true") {
      getStartedWrapper?.classList.remove("hide");
      getStartedWrapper?.classList.add("show");
    } else {
      getStartedWrapper?.classList.remove("show");
      getStartedWrapper?.classList.add("hide");
    }
  }

  window.addEventListener("cookieAccepted", updateButtonVisibility);
  window.addEventListener("storage", updateButtonVisibility);

  updateButtonVisibility();
</script>

<Layout>
  <Header />
  <div class="content">
    <h1 class="display1">Take the cannabis test.</h1>
    <div>
      <img
        src={Clock.src}
        width="24"
        height="24"
        style="margin-bottom: 12px;"
      />
      <p class="body">
        In 2 minutes you’ll find out how your views on cannabis regulation
        compare.
      </p>
    </div>
    <div class="hide" id="get-started" style="width: 100%;">
      <PrimaryCta client:load label="Get Started" isLink link="/quiz" />
    </div>
  </div>

  <AgeModal client:only />

  <footer class="footer">
    <small class="smallPrint"
      >All information gathered is anonymous and confidential. This microsite
      does not promote cannabis use but serves as a public policy platform for
      discussion and information.</small
    >
  </footer>
</Layout>

<style lang="scss">
  @import "../styles/breakpoints.scss";
  .content {
    align-items: center;
    display: flex;
    gap: 22px;
    flex-direction: column;

    @include respond-to(mobile) {
      gap: 52px;
    }
  }

  .hide {
    display: none;
  }
  .show {
    display: flex;
  }
</style>
