@import "../../../styles/breakpoints.scss";
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
}

.logo {
  width: 180px;
  height: 46px;
}

.backButton {
  background: none;
  z-index: 10;
  position: absolute;
  left: 24px;
  width: 20px;
  height: 20px;
  color: var(--white);
  font-size: 20px;
  padding: 0 0 0 30px;
  background: url("../../../assets/icons/back.svg") center left no-repeat;
  background-size: 16px;
  text-indent: -9999px;
  @include respond-to(tablet) {
    text-indent: 0;
    left: 0;
    text-align: left;
    width: 200px;
    justify-content: flex-start;
  }
}
