@import "../../../styles/breakpoints.scss";
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  box-sizing: border-box;
  gap: 26px;
  @include respond-to(tablet) {
    width: 50%;
  }
}
.button {
  text-align: left;
  width: 100%;
  border: none;
  color: var(--white);
  display: grid;
  grid-template-columns: 88px 1fr;
  padding: 0 30px 0 0;
  background: url("../../../assets/icons/chevron.svg");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 19px;
  @include respond-to(tablet) {
    display: flex;
    flex-direction: column;
    grid-template-columns: 236px 1fr;
    background: none;
    pointer-events: none;
  }
}

.explanation {
  background: var(--primary80);
  width: 100%;
  padding: 16px;
  border-radius: 12px;
  text-align: left;
  box-sizing: border-box;
}
