@import "../../../styles/breakpoints.scss";

.cookiesModalContent {
  @include respond-to(desktop) {
    display: grid !important;
    flex-direction: row !important;
    grid-template-columns: 1fr 400px !important;
    gap: 24px !important;
  }
}

.message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  text-align: left;
}
@include respond-to(desktop) {
  .display3 {
    font-size: 28px;
  }
}

@include respond-to(desktop) {
  .ctaGroup {
    flex-direction: row;
    justify-content: flex-end;
  }

  button {
    font-size: 20px !important;
  }
}

.smallPrint {
  font-size: 16px;
  line-height: 110%;
}
