@import "../../../styles/breakpoints.scss";

.modalContent {
  @include respond-to(desktop) {
    flex-direction: row !important;
  }
}

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  @include respond-to(desktop) {
    align-items: flex-start;
  }
}
@include respond-to(desktop) {
  .display3 {
    font-size: 28px;
  }
}

@include respond-to(desktop) {
  .ctaGroup {
    flex-direction: row;
    min-width: 568px;
    justify-content: flex-end;
  }

  button {
    font-size: 20px !important;
  }
}
